#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.maze {
  display: grid;
  place-items: center;
  justify-content: center;
  
  background-color: white;

}

.App {
  display: flex;
  align-items: center;
  justify-content: center;

}

.solutions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 6em;
}
.solutions-container .maze  {
  scale: .7;
}

.end-cell {
  background-image: url(/end.webp) !important;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.start-cell {
  background-image: url(/start.webp) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.cell {
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid;
}

body {
  background-color: rgb(41, 39, 39);
}
.red-cell {
  background-color: hsl(0, 0%, 10%);
}
.green-cell {
  background-color: green;
}